ul.tree-cards {
  padding: 0;
  margin: 0;
}

ul.tree-list {
}

.tree-card-item {
  list-style: none;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid brown;
  cursor: pointer;
}

.tree-list-item {
  padding: 1em;
  cursor: pointer;
}

.new-item {
  border: 1px dashed brown;
}

.tree-trash {
  background-color: #e1e1e1;
  text-align: center;
  color: darkgray;
  padding: 1em;
  margin: 0.5em;
}
