ul.tree-cards {
  padding: 0;
  margin: 0;
}

ul.tree-list {
}

.tree-item-clickable {
  cursor: pointer;
  padding: 0.5em 0;
}

.tree-card-item {
  list-style: none;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid brown;
}

.tree-list-item {
  padding: 1em;
}

.external-item {
  padding: 1em;
  margin: 0.5em;
  text-align: center;
}

.new-item {
  border: 1px dashed darkgray;
  color: grey;
}

.tree-trash {
  background-color: #e1e1e1;
  color: darkgray;
}
